<ion-modal-view cache-view="false"
                sb-page-background
                class="attendance attendance-projects">

    <ion-header-bar class="bar-custom">
        <div class="buttons">
            <button class="button button-clear"
                    ng-click="closeProjectsModal()">
                <i ng-class="backButtonIcon()"></i>
            </button>
        </div>
       
        <h1 class="title">{{ ::"Select Project" | translate:"attendance" }}</h1>
 
    </ion-header-bar>
  
   <ion-content class="has-header" >         
      
      <div class="loader" ng-show="is_loading">
          <ion-spinner class="spinner-custom"></ion-spinner>
      </div>  
    
     <div class="list" ng-show="!is_loading">
       <div ng-click="projectTrackingTracking(value.id)" class="item item-custom" ng-repeat="value in payout_data.projects" >
         <h2>{{value.title}}</h2>
       </div>
      </div>

  </ion-content>
</ion-modal-view>