<ion-view cache-view="false"
                class="listing propertylisting propertylisting-filter-menu propertylisting-add">
    <ion-nav-title>{{ ::"Add listing" | translate:"propertylisting" }} </ion-nav-title>
  
    <div class="loader" ng-show="is_loading">
        <ion-spinner class="spinner-custom"></ion-spinner>
    </div>   
  
    <div class="bar bar-subheader">      
            <span class="col calm calm-custom"><i class="icon ion-home"></i></span>
            <span class="col light light-custom "><i class="icon ion-location"></i></span>
            <span class="col light light-custom"><i class="icon ion-pricetag"></i></span>
            <span class="col light light-custom"><i class="icon ion-briefcase"></i></span>
            <span class="col light light-custom"><i class="icon ion-images"></i></i></span>
            <span class="col light light-custom"><i class="icon ion-android-done-all"></i></span>
    </div>
    <ion-content class="has-subheader has-header">
        <form  name="add_property_basicinfo" novalidate ng-submit="add_property_basicinfo.$valid && addBasicinfo(addpropertyValues)">
        <div class="list">           
            <label class="item item-input item-floating-label">
              <span class="input-label">
                {{ ::"Title/label" | translate:"propertylisting" }} *
              </span>
              <input name="headline" required type="text" placeholder="{{ forTranslate('Title/label') }} *"  ng-model="addpropertyValues.headline">
              <div ng-if="add_property_basicinfo.$submitted">
                <div class="assertive assertive-custom" ng-show="add_property_basicinfo.headline.$invalid">
                  {{ ::"This field is required." | translate:"propertylisting" }}
                   </div>
              </div>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">
                {{ :: feildsSettings.property_name.label_name | translate:"propertylisting" }}<span ng-if ="feildsSettings.property_name.field_required == 1">*</span>
              </span>
              <input name="property_name" ng-required="feildsSettings.property_name.field_required == 1 ? true : false" type="text" placeholder="{{ forTranslate(feildsSettings.property_name.label_name) }}" ng-model="addpropertyValues.property_name">
              <div ng-if="add_property_basicinfo.$submitted">
                <div class="assertive assertive-custom" ng-show="add_property_basicinfo.property_name.$invalid">{{ ::"This field is required." | translate:"propertylisting" }}</div>
              </div>
            </label>

           
            <label class="item item-input item-select">
              <div class="input-label">
                {{ ::"Property For" | translate:"propertylisting" }}*
              </div>
                <select  name="property_for" ng-required="true" ng-model="addpropertyValues.propertyFor">
                <option  ng-value="'Rent'" >{{ ::"Rent" |
                  translate:"propertylisting" }}</option>
                <option ng-value="'Sales'" >{{ ::"Sales" |
                  translate:"propertylisting" }} </option>
                <option ng-value="'Auction'" >{{ ::"Auction" |
                  translate:"propertylisting" }} </option>
                <option ng-value="'NewProject'" >{{ ::"New Project" |
                    translate:"propertylisting" }} </option>
               </select>
            </label>
            <div ng-if="add_property_basicinfo.$submitted" class="padding16">
              <div class="assertive assertive-custom" ng-show="add_property_basicinfo.property_for.$error.required">
              {{ ::"This field is required." | translate:"propertylisting" }}</div>
            </div>    
           
            <label class="item item-input item-select">
              <div class="input-label">
                {{ ::"Type" | translate:"propertylisting" }}* 
              </div>
                <select  name="propertyTypes" ng-required="true" ng-model="addpropertyValues.propertyTypes">
                  <option  ng-repeat="value in property_types_add">{{ :: value.property_type | translate:"propertylisting" }}</option>
               </select>
            </label>

            <div ng-if="add_property_basicinfo.$submitted" class="padding16">
              <div class="assertive assertive-custom" ng-show="add_property_basicinfo.propertyTypes.$error.required">
              {{ ::"This field is required." | translate:"propertylisting" }}
            </div>
            </div>

            <label class="item item-input item-select">
              <div class="input-label">
                {{ :: feildsSettings.bedrooms.label_name | translate:"propertylisting" }}<span ng-if ="feildsSettings.bedrooms.field_required == 1">*</span>
              </div>
                <select name="bedrooms" ng-required="feildsSettings.bedrooms.field_required == 1 ? true : false"  ng-model="addpropertyValues.bedrooms">
                <option  ng-repeat="n in  range(1,10)">{{n}}</option>
               </select>
            </label>


            <div ng-if="add_property_basicinfo.$submitted" class="padding16">
              <div class="assertive assertive-custom" ng-show="add_property_basicinfo.bedrooms.$error.required">
              {{ ::"This field is required." | translate:"propertylisting" }}
            </div>
            </div>


            <label class="item item-input item-select">
              <div class="input-label">
                {{ :: feildsSettings.bathrooms.label_name | translate:"propertylisting" }}<span ng-if ="feildsSettings.bathrooms.field_required == 1">*</span>
              </div>
                <select   name="bathrooms" ng-required="feildsSettings.bathrooms.field_required == 1 ? true : false"   ng-model="addpropertyValues.bathrooms">
                <option  ng-repeat="n in  range(1,10)">{{n}}</option>
               </select>
            </label>

            <div ng-if="add_property_basicinfo.$submitted" class="padding16">
              <div class="assertive assertive-custom" ng-show="add_property_basicinfo.bathrooms.$error.required">
              {{ ::"This field is required." | translate:"propertylisting" }}
            </div>


            </div>
            <label class="item item-input item-floating-label">
              <span class="input-label">
                {{ ::"Property size" | translate:"propertylisting" }} ({{ :: listing_settings.area_unit | translate:"propertylisting" }})*
            </span>
              <input name="property_sqft" required type="number" placeholder="{{ forTranslate('Property size') }}*" ng-model="addpropertyValues.property_sqft">
              <div ng-if="add_property_basicinfo.$submitted">
                <div class="assertive assertive-custom" ng-show="add_property_basicinfo.property_sqft.$invalid">
                {{ ::"This field is required." | translate:"propertylisting" }}
              </div>
              </div>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">
                  {{ :: feildsSettings.floor_size.label_name | translate:"propertylisting" }}<span ng-if ="feildsSettings.floor_size.field_required == 1">*</span>

                  ({{ :: listing_settings.area_unit | translate:"propertylisting" }})
              </span>
                <input type="number" ng-required="feildsSettings.floor_size.field_required == 1 ? true : false"  placeholder="{{ forTranslate(feildsSettings.floor_size.label_name) }}" ng-model="addpropertyValues.floor_size" name="floor_size">

                <div ng-if="add_property_basicinfo.$submitted">
                  <div class="assertive assertive-custom" ng-show="add_property_basicinfo.floor_size.$invalid">
                  {{ ::"This field is required." | translate:"propertylisting" }}
                </div>
                </div>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">
                  {{ :: feildsSettings.land_size.label_name | translate:"propertylisting" }}<span ng-if ="feildsSettings.land_size.field_required == 1">*</span>
                  ({{ :: listing_settings.area_unit | translate:"propertylisting" }})
              </span>
                <input type="number" placeholder="{{ forTranslate(feildsSettings.land_size.label_name) }}" ng-model="addpropertyValues.land_size" name="land_size">

                <div ng-if="add_property_basicinfo.$submitted">
                  <div class="assertive assertive-custom" ng-show="add_property_basicinfo.land_size.$invalid">
                             {{ ::"This field is required." | translate:"propertylisting" }}
                  </div>
                </div>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">
                  {{ ::"Price per" | translate:"propertylisting" }} {{ :: listing_settings.area_unit | translate:"propertylisting" }}
              </span>
                <input type="number" placeholder="{{ forTranslate('Price per unit') }}"  ng-model="addpropertyValues.price_per_sqft">
            </label>

            
            <label class="item item-input item-select">
              <div class="input-label">
                {{ :: feildsSettings.tenure.label_name | translate:"propertylisting" }}<span ng-if ="feildsSettings.tenure.field_required == 1">*</span>
              </div>
                <select   name="tenure" ng-required="feildsSettings.tenure.field_required == 1 ? true : false"  ng-model="addpropertyValues.tenure">
                <option ng-value="'Freehold'" >{{ ::"Freehold" | translate:"propertylisting" }}</option>
                <option ng-value="'Leasehold'"> {{ ::"Leasehold" | translate:"propertylisting" }}</option>
               </select>
            </label>

            <div ng-if="add_property_basicinfo.$submitted">
              <div class="assertive assertive-custom" ng-show="add_property_basicinfo.tenure.$invalid">
                         {{ ::"This field is required." | translate:"propertylisting" }}
              </div>
            </div>

            <label class="item item-input item-select">
              <div class="input-label">
                {{ :: feildsSettings.furnishing.label_name | translate:"propertylisting" }}<span ng-if ="feildsSettings.furnishing.field_required == 1">*</span>
              </div>
                <select   name="furnishing" ng-required="feildsSettings.furnishing.field_required == 1 ? true : false" 
                ng-model="addpropertyValues.furnishing">
                <option  ng-value="'Bare Unit'" >{{ ::"Bare Unit" |
                  translate:"propertylisting" }}</option>
                <option ng-value="'Fully Furnished'" >{{ ::"Fully Furnished" |
                  translate:"propertylisting" }} </option>
                <option ng-value="'partilly Furnished'" >{{ ::"Partially Furnished" |
                  translate:"propertylisting" }} </option>
               </select>
            </label>

            <div ng-if="add_property_basicinfo.$submitted" class="padding16">
              <div class="assertive assertive-custom" ng-show="add_property_basicinfo.furnishing.$error.required">
              {{ ::"This field is required." | translate:"propertylisting" }}</div>
            </div>
            <label class="item item-input item-floating-label">
                <span class="input-label">
                  {{ :: feildsSettings.total_number_of_units.label_name | translate:"propertylisting" }}<span ng-if ="feildsSettings.total_number_of_units.field_required == 1">*</span>
                </span>
                <input type="number" placeholder="{{ forTranslate(feildsSettings.total_number_of_units.label_name) }}"
                ng-model="addpropertyValues.total_number_of_units" 
                name="total_number_of_units" ng-required="feildsSettings.total_number_of_units.field_required == 1 ? true : false" >
                <div ng-if="add_property_basicinfo.$submitted">
                  <div class="assertive assertive-custom" ng-show="add_property_basicinfo.total_number_of_units.$invalid">
                             {{ ::"This field is required." | translate:"propertylisting" }}
                  </div>
                </div>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">
                  {{ :: feildsSettings.floor.label_name | translate:"propertylisting" }}<span ng-if ="feildsSettings.floor.field_required == 1">*</span>
                </span>
                <input name="floor" type="number" ng-required="feildsSettings.floor.field_required == 1 ? true : false"  placeholder="{{ forTranslate(feildsSettings.floor.label_name) }}" ng-model="addpropertyValues.floor">

                <div ng-if="add_property_basicinfo.$submitted">
                  <div class="assertive assertive-custom" ng-show="add_property_basicinfo.floor.$invalid">
                             {{ ::"This field is required." | translate:"propertylisting" }}
                  </div>
                </div>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">
                  {{ :: feildsSettings.total_floor.label_name | translate:"propertylisting" }}<span ng-if ="feildsSettings.total_floor.field_required == 1">*</span>
                </span>
                <input type="number" placeholder="{{ forTranslate(feildsSettings.total_floor.label_name) }}" ng-model="addpropertyValues.total_floor" ng-required="feildsSettings.total_floor.field_required == 1 ? true : false" name="total_floor"
                >
                <div ng-if="add_property_basicinfo.$submitted">
                  <div class="assertive assertive-custom" ng-show="add_property_basicinfo.total_floor.$invalid">
                             {{ ::"This field is required." | translate:"propertylisting" }}
                  </div>
                </div>
            </label>

             <label class="item item-input item-select">
                  <div class="input-label">
                    {{ :: feildsSettings.year_of_construction.label_name | translate:"propertylisting" }}<span ng-if ="feildsSettings.year_of_construction.field_required == 1">*</span>
                  </div>
                    <select name="year_of_construction" ng-required="feildsSettings.year_of_construction.field_required == 1 ? true : false" 
                    ng-model="addpropertyValues.year_of_construction">
                    <option  ng-repeat="n in range(1990,curentyear)">{{n}}</option>
                   </select>
            </label>

            <div ng-if="add_property_basicinfo.$submitted">
              <div class="assertive assertive-custom" ng-show="add_property_basicinfo.year_of_construction.$invalid">
                         {{ ::"This field is required." | translate:"propertylisting" }}
              </div>
            </div>
           
            
            <div class="item item-divider item-divider-custom listing-filter-divider">
                {{ ::"Description" | translate:"propertylisting" }}*
            </div>
            <label class="item item-input item-floating-label">
                <textarea  ng-model="addpropertyValues.desciptions" required name="desciptions" placeholder="{{ forTranslate('Description') }}*" rows="5" cols="10" >
                </textarea>
                <div ng-if="add_property_basicinfo.$submitted">
                  <div class="assertive assertive-custom" ng-show="add_property_basicinfo.desciptions.$invalid">{{ ::"This field is required." | translate:"propertylisting" }}</div>
                </div>
            </label>
            <button type="submit" class="button button-block button-positive button-positive-custom">
                {{ ::"Next" | translate:"propertylisting" }}
            </button>
          </div>
        </form>
    </ion-content>

    <style type="text/css">
        .assertive.assertive-custom {
            font-size: 12px;
        }
        .padding16 {
          padding: 0px 16px;
        }        
    </style>
</ion-view>