<ion-view cache-view="false"
                 class="listing propertylisting propertylisting-add ownerinfo">

    <ion-nav-title>{{ ::"Add Contact Info" | translate:"propertylisting" }} </ion-nav-title>
    <div class="loader"
    ng-show="is_loading">
    <ion-spinner class="spinner-custom"></ion-spinner>
    </div>
    <div class="bar bar-subheader">
      
            <span class="col assertive assertive-custom"><i class="icon ion-home"></i></span>
            <span class="col assertive assertive-custom "><i class="icon ion-location"></i></span>
            <span class="col assertive assertive-custom"><i class="icon ion-pricetag"></i></span>
            <span class="col assertive assertive-custom"><i class="icon ion-image"></i></span>
            <span class="col assertive assertive-custom"><i class="icon ion-images"></i></i></span>
            <span class="col calm calm-custom"><i class="icon ion-android-done-all"></i></span>
     
      </div>
    <ion-content class="has-subheader ">
      <form name="add_ownerinfo" novalidate ng-submit="add_ownerinfo.$valid && addOwnerinfo(addpropertyValues)">
        <div class="list">
            
            <label class="item item-input item-stacked-label">
              <span class="input-label">
                {{ :: feildsSettings.availability.label_name | translate:"propertylisting" }}<span ng-if ="feildsSettings.availability.field_required == 1">*</span>
              </span>
              <input name="availability" ng-required="feildsSettings.availability.field_required == 1 ? true : false"  type="date"  ng-model="addpropertyValues.availability">
              <div ng-if="add_ownerinfo.$submitted">
                <div class="assertive assertive-custom" ng-show="add_ownerinfo.availability.$invalid">{{ ::"This field is required." | translate:"propertylisting" }}</div>
              </div>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">
                {{ :: feildsSettings.contact_person_name.label_name | translate:"propertylisting" }}<span ng-if ="feildsSettings.contact_person_name.field_required == 1">*</span>

              </span>
              <input name="contact_person_name" ng-required="feildsSettings.contact_person_name.field_required == 1 ? true : false"  type="text" placeholder="{{ forTranslate(feildsSettings.contact_person_name.label_name) }}" ng-model="addpropertyValues.contact_person_name">
              <div ng-if="add_ownerinfo.$submitted">
                <div class="assertive assertive-custom" ng-show="add_ownerinfo.contact_person_name.$invalid">{{ ::"This field is required." | translate:"propertylisting" }}</div>
              </div>
            </label>
           
            <label class="item item-input item-floating-label">
              <span class="input-label">
                {{ :: feildsSettings.mobile_number.label_name | translate:"propertylisting" }}<span ng-if ="feildsSettings.mobile_number.field_required == 1">*</span>
            </span>
              <input name="mobile_number" ng-required="feildsSettings.mobile_number.field_required == 1 ? true : false"  type="number" placeholder="{{ forTranslate(feildsSettings.mobile_number.label_name) }}" ng-model="addpropertyValues.mobile_number">
              <div ng-if="add_ownerinfo.$submitted">
                <div class="assertive assertive-custom" ng-show="add_ownerinfo.mobile_number.$invalid">{{ ::"This field is required." | translate:"propertylisting" }}</div>
              </div>
            </label>
           
           
            <button type="submit" class="button button-block button-positive button-positive-custom"
           >
                {{ ::"Save" | translate:"propertylisting" }}
            </button>
            
          </div>
        </form>
    </ion-content>

      <style type="text/css">
        .assertive.assertive-custom {
            font-size: 12px;
        }
        .padding16 {
          padding: 0px 16px;
        }        
    </style>

</ion-view>