<ion-modal-view sb-page-background
                ng-controller="SocialnetworksProfileBlockedUsersController"
                class="module-fanwall fanwall-list fanwall-list-l1">

    <ion-header-bar class="bar-custom">
        <div class="buttons">
            <button class="button button-clear"
                    ng-click="close()">
                <i class="icon ion-android-arrow-back"></i>
            </button>
        </div>
        <h1 class="title">{{ ::"Blocked users" | translate:"socialnetworks" }}</h1>
    </ion-header-bar>

    <ion-content>
        <div class="loader"
             ng-show="isLoading">
            <ion-spinner class="spinner-custom"></ion-spinner>
        </div>

        <ion-list ng-if="!isLoading">
            <socialnetworks-blocked-user-item ng-if="collection.length > 0"
                                       ng-repeat="item in collection track by item.id"></socialnetworks-blocked-user-item>

            <ion-item class="item-custom"
                      style="padding-bottom: 15px;"
                      ng-if="collection.length == 0">
                {{ ::"You have no blocked users" | translate:"socialnetworks" }}
            </ion-item>
        </ion-list>
    </ion-content>

</ion-modal-view>