<ion-view sb-page-background
          class="chatrooms chatrooms-list">
    <script id="chatrooms_popover_menu.html"
            type="text/ng-template">
        <ion-popover-view class="chatrooms popover-custom">
            <ion-content class="chatrooms popover-content-custom">
                <ion-list class="list">
                    <div class="item item-custom" ng-click="joinPrivateRoom()">
                        {{ ::'Join private chatroom' | translate }}
                    </div>
                    <div class="item item-custom" ng-click="manageFriends()">
                        {{ ::'Manage friends' | translate }}
                    </div>
                    <div class="item item-custom" ng-click="showInfos(true)">
                        {{ ::'Change nickname' | translate }}
                    </div>
                </ion-list>
            </ion-content>
        </ion-popover-view>
    </script>

  <ion-nav-title>{{ page_title }}</ion-nav-title>

  <ion-nav-buttons side="right">
      <button ng-click="openPopover($event)"
              class="button button-clear header-item"
              ng-show="!is_loading">
          <i class="icon ion-android-more-vertical"></i>
      </button>
  </ion-nav-buttons>

  <ion-content>

      <div class="loader"
           ng-show="is_loading">
          <ion-spinner class="spinner spinner-custom"></ion-spinner>
      </div>

      <ion-list class="list"
                ng-show="!is_loading">
          <div class="item item-divider item-divider-custom"
               ng-if="show_dividers()">
              {{ ::'Chatrooms' | translate }}
          </div>
          <div class="item item-custom" ng-click="goToRoom({value_id: value_id, receiver_id: chatroom.id})"
               ng-repeat="(chatroom_id, chatroom) in chatrooms track by chatroom.id">
              <div class="row">
                  <div class="col col-90">
                      <h2>{{ chatroom.name }}</h2>
                      <p>{{ chatroom.description }}</p>
                  </div>
                  <div class="col col-10">
                      <i class="item-note ion-chevron-right arrow-center"></i>
                  </div>
              </div>
          </div>
          <div class="item item-divider item-divider-custom"
               ng-if="show_dividers()">
              {{ ::'Friends' | translate }}
          </div>
          <div class="item item-custom"
               ng-click="goToRoom({value_id: value_id, type: 'private', receiver_id: friend.id})"
               ng-repeat="(friend_id, friend) in friends track by friend.id">
              <div class="row friend"
                   ng-class="{'online': friend.online}">
                  <div class="col col-90">
                      <h3>
                          <span class="status-bubble"></span>
                          {{ friend.nickname }}
                      </h3>
                  </div>
                  <div class="col col-10">
                    <span class="item-badge"
                          ng-if="unreadCount(friend) > 0">{{ unreadCount(friend) }}</span>
                      <i class="item-note ion-chevron-right arrow-center"></i>
                  </div>
              </div>
          </div>
      </ion-list>
  </ion-content>

</ion-view>
