<ion-view sb-page-background
          class="phonebook phonebook-invite">
    <ion-nav-title>{{ ::"Invite a member" | translate:"phonebook" }}  </ion-nav-title>


    <ion-content class="has-header has-subheader">
        <div class="list list-inset">       
        <label class="item item-input">
          <input type="text" placeholder="Enter email address">
        </label>

        <button class="button button-block button-positive">
          {{ ::"Save" | translate:"phonebook" }}  
        </button>
        
      </div>
    </ion-content> 

</ion-view>
