<ion-view sb-page-background class="view_appointment">
    <ion-nav-title>{{ page_title }}</ion-nav-title>
        <ion-nav-buttons side="secondary">
            <button class="button button-clear header-item" ng-click="notification()">
                <i class="ion-android-notifications-none"></i>
            </button>
        </ion-nav-buttons>
        <div>
            <ion-content  class="appointment">
                <div class="loader" ng-show="is_loading">
                    <ion-spinner class="spinner-custom"></ion-spinner>
                </div>
                <div class="list" ng-show="appointmentlist.length">
                    <div class="item item-divider item-divider-custom" ng-if="!appointmentlist.length">
                        <h2 class="padding">{{ booking_zero }}</h2>
                    </div>
                    <div ng-class="{ 'card': settings.design_style == 'card' }" ng-repeat="booking in appointmentlist">
                        <div class="item item-custom item-thumbnail-custom booking">
                            <img ng-src="{{ settings.booking_image }}">
                            <span class="booking-date" ng-if="booking.class_booking_date_available !=0 ">{{booking.class_date}} {{"To " | translate}} {{booking.class_end_date}}</span>
                            <span class="item-note ion-close-circled input-label custome_cross_label " style="color: #ff4949 !important;font-size: xx-large;text-align: right;padding-top: 0; padding-left: 0 !important;display: inline-block;width: auto !important;position: absolute;right: 0;z-index:10" ng-if="booking.status == 1 && apt_time(booking.apttime)" ng-click="cancel_appointment(booking.appointment_id,booking)"></span> 
                            <p class="booking-service booking_width">{{booking.serviceName}} {{"with" | translate}} {{booking.providerName}}</p>
                            <p class="booking-time">@{{booking.startTime}}</p>
                            <p class="booking-location booking_width">{{booking.location}}</p>
                            <span class="booking-service booking_width" ng-if="booking.class_recurrent_in == 0">{{"Repeat on " | translate}} : {{"daily " | translate}} </span>
                            <span class="booking-service booking_width" ng-if="booking.class_booking_day_available ==1 && booking.class_recurrent_in == 1">{{"Repeat on " | translate}} : {{booking.class_booking_days}} {{"every week " | translate}}</span>
                            <span class="booking-service booking_width" ng-if="booking.class_recurrent_in == 2"> {{"Repeat on " | translate}} : {{booking.class_date_only}} {{"every month " | translate}} </span>
                           
                        </div>
                        <div class="booking-state">
                            <span class="list-inline active booked_appointments_text" ng-if="booking.status == 1">{{ "Active" | translate }}</span>
                            <span class="list-inline completed" ng-if="booking.status == 2">{{ "Completed" | translate }}</span>
                            <span class="list-inline cancelled" ng-if="booking.status == 3 || booking.status == 4">{{ "Cancelled" | translate }}</span>
                        </div>
                    </div>
                </div>
            </ion-content>
        </div>
</ion-view>