<ion-view sb-page-background class="view_appointment">
    <ion-nav-title>{{ page_title }}</ion-nav-title>
        <ion-nav-buttons side="secondary">
            <button class="button button-clear header-item" ng-click="notification()">
                <i class="ion-android-notifications-none"></i>
            </button>
        </ion-nav-buttons>
        <div>
            <ion-content  class="appointment">
                <div class="loader" ng-show="is_loading">
                    <ion-spinner class="spinner-custom"></ion-spinner>
                </div>

                <div class="list" ng-show="appointmentlist.length">

                    <div class="item item-divider item-divider-custom" ng-if="!appointmentlist.length">
                        <h2 class="padding">{{ booking_zero }}</h2>
                    </div>

                    <div ng-class="{ 'card': settings.design_style == 'card' }" ng-repeat="booking in appointmentlist">
                        <span ng-if="booking.online_payment == 1" ng-click="gotoTransaction(booking.appointment_id)">
                        <div class="item item-custom item-thumbnail-custom booking">
                            <img ng-src="{{ settings.booking_image }}">
                            <span class="booking-date">{{booking.aptDate}} @ {{booking.startTime}}</span>
                            <span class="item-note ion-close-circled input-label custome_cross_label " style="color: #ff4949 !important;font-size: xx-large;text-align: right;padding-top: 0; padding-left: 0 !important;display: inline-block; width: auto !important;position: absolute; right: 0;z-index:10" ng-if="booking.status == 1 && apt_time(booking.apttime)" ng-click="cancel_appointment(booking.appointment_id,booking)"></span> 
                            <p class="booking-service booking_width">{{booking.serviceName}} {{"with" | translate}} {{booking.providerName}}</p>
                            <p class="booking-location booking_width">{{booking.location}} </p>

                        </div>

                        <div class="booking-state">
                            <span class="list-inline active booked_appointments_text" ng-if="booking.status == 1">{{ "Active" | translate }}</span>
                            <span class="list-inline completed" ng-if="booking.status == 2">{{ "Completed" | translate }}</span>
                            <span class="list-inline cancelled" ng-if="booking.status == 3 || booking.status == 4">{{ "Cancelled" | translate }}</span>
                        </div>
                        </span>
                         <span ng-if="booking.online_payment == 0">
                        <div class="item item-custom item-thumbnail-custom booking">
                            <img ng-src="{{ settings.booking_image }}">
                            <span class="booking-date">{{booking.aptDate}} @ {{booking.startTime}}</span>
                            <span class="item-note ion-close-circled input-label custome_cross_label " style="color: #ff4949 !important;font-size: xx-large;text-align: right;padding-top: 0; padding-left: 0 !important;display: inline-block; width: auto !important;position: absolute; right: 0;z-index:10" ng-if="booking.status == 1 && apt_time(booking.apttime)" ng-click="cancel_appointment(booking.appointment_id,booking)"></span> 
                            <p class="booking-service booking_width">{{booking.serviceName}} {{"with" | translate}} {{booking.providerName}}</p>
                            <p class="booking-location booking_width">{{booking.location}}</p>

                        </div>

                        <div class="booking-state">
                            <span class="list-inline active booked_appointments_text" ng-if="booking.status == 1">{{ "Active" | translate }}</span>
                            <span class="list-inline completed" ng-if="booking.status == 2">{{ "Completed" | translate }}</span>
                            <span class="list-inline cancelled" ng-if="booking.status == 3 || booking.status == 4">{{ "Cancelled" | translate }}</span>
                        </div>
                        </span>
                    </div>

                </div>

            </ion-content>
        </div>
</ion-view>