<ion-modal-view sb-page-background
                ng-controller="PhonebookInfoController"
                class="phonebook phonebook-feed">

    <ion-header-bar class="bar-custom">
        <div class="buttons">
            <button class="button button-clear"
                    ng-click="closeFeed()">
                <i class="icon ion-sb-close-modal"></i>
            </button>
        </div>
        <h1 class="title">{{ "Social Post" | translate:"phonebook" }}</h1>
    </ion-header-bar>

   <ion-content class="has-header">

    <div class="list">
      <div class="item item-body text-center" ng-if="customerFeeds.length == 0">
         <p>
           {{ "No post available!" | translate:"phonebook" }}
         </p>
      </div>

      <div class="item item-body" ng-repeat="feed in customerFeeds" ng-if="customerFeeds.length > 0">
        <img ng-if="feed.image" class="full-image" src="{{ feed_basePath+feed.image}}">
        <p> {{feed.text}} </p>
        <p class="phonebook-feed-date">{{ publicationDate(feed.date) }}</p>
        <p>
          <a class="subdued">{{ feed.likeCount }} {{ "Likes" | translate:"phonebook" }}</a>
          <a class="subdued">{{ feed.commentCount }} {{ "Comments" | translate:"phonebook" }}</a>
        </p>
      </div>

    </div>

   </ion-content>
</ion-modal-view>