<ion-view sb-page-background
          class="woocommerce woocommerce-cancel">
    <ion-nav-title>{{ page_title }}</ion-nav-title>
    <ion-nav-buttons side="secondary">
        <button class="button button-custom button-icon icon"
                ng-click="goTo('home')">
            <i class="wc-icon icon icon-custom ion-home"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="item item-custom item-divider item-icon-left">
                <i class="icon icon-custom ion-sad-outline"></i>
                {{ cancel_txt1 }}
            </div>
            <div class="item item-custom item-text-wrap">
                {{ cancel_txt2 }}
            </div>
        </div>
    </ion-content>
</ion-view>
