<ion-view sb-page-background
          class="woocommerce woocommerce-product">

    <ion-nav-title>{{ product.name }}</ion-nav-title>

    <ion-nav-buttons side="right">
        <button class="button button-custom button-icon icon"
                ng-click="goTo('cart')">
            <i class="wc-icon icon icon-custom ion-ios-cart"></i>
            <span class="badge badge-assertive badge-assertive-custom cart-badge">{{ cart_qty }}</span>
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
        <button ng-click="refresh()"
                class="button button-clear header-item">
            <i class="wc-icon icon icon-custom ion-sb-refresh"></i>
        </button>
        <button class="button button-custom button-icon icon"
                ng-click="goTo('home')">
            <i class="wc-icon icon icon-custom ion-ios-home"></i>
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list top"
             ng-if="product">
            <div ng-if="product.images.length"
                 class="item item-custom item-divider">
                <div sb-cms-slider
                     block="productBlock"
                     gallery="product.images"></div>
            </div>
            <div class="item item-custom">
                <sb-rating rating='product.average_rating' />
            </div>
            <div class="item item-custom item-divider item-text-wrap justify"
                 ng-bind-html="product.description"></div>

            <label class="item item-custom item-input">
                <span class="input-label">{{ ::"Quantity:" | translate }}</span>
                <form name="quantityForm"
                      style="width:100%">
                    <input class='text-right'
                           name="quantity"
                           type="number"
                           min="1"
                           max="{{product.stock_quantity}}"
                           ng-model='quantity.value'
                           required />
                </form>
            </label>
            <label class="item item-custom"
                   ng-if="product.stock_quantity">
                <span>{{ ::"Stock Quantity:" | translate }} <b>{{product.stock_quantity}}</b></span>
            </label>
            <label class="item item-custom item-input item-select"
                   ng-if="product.variations.length && product.variations[0].attributes[0].option != ''">
                <div class="input-label">
                    {{ ::"Variation:" | translate }}
                </div>
                <select name="variation_select"
                        ng-change="changeOption()"
                        ng-model="selected_option.id">
                    <option ng-repeat="option in product.variations"
                            value="{{ option.id }}">
                        {{ option.attributes[0].option }}
                    </option>
                </select>
            </label>
            <div class="item item-custom item-divider">
                <div class='row'>
                    <div class="col text-left">
                        <button class='button button-custom'
                                ng-click="addToCart(product)"
                                ng-if="product" ng-disabled="!product.in_stock || (product.stock_quantity && (product.stock_quantity < quantity.value)) || !quantityForm.quantity.$valid">
                            <i class="icon ion-ios-cart"
                               style='margin-right: 4px'> </i>
                            <span ng-if="product.in_stock && quantityForm.quantity.$valid">{{ ::"Add To Cart" | translate }}</span>
                            <span ng-if="!product.in_stock">{{ ::"Out of stock" | translate }}</span>
                            <span ng-if="!quantityForm.quantity.$valid">{{ ::"Invalid Quantity" | translate }}</span>
                        </button>
                    </div>
                    <div class="col text-right">
                        <div style='vertical-align: middle; margin-top: 16px; margin-right: 8px'>
                            <i class="icon ion-pricetag"></i>
                            <span class='product-price'
                                  ng-bind-html="displayed_price"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list"
                 ng-if="reviews">
                <div class="card"
                     ng-repeat="review in reviews"
                     ng-if="reviews.length > 0">
                    <div class="item item-custom">
                        <h2>{{review.name}}</h2>
                        <p><i class="icon ion-calendar"></i> {{review.date_created}}</p>
                    </div>
                    <div class="item item-custom item-body">
                        <p>{{review.review}}</p>
                        <p class="text-right">
                            <sb-rating rating='review.rating' />
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="item item-custom"
             ng-if="loading">
            {{ ::"Loading" | translate }}
        </div>

        <div class="item item-custom"
             ng-if="product == null && !loading">
            {{ ::"Sorry, product not found." | translate }}
        </div>

    </ion-content>
    
    <style type="text/css">
        .justify{
            text-align:justify;
        }
        .top{
            border-top: 5px solid;
        }
        .cart-badge{
            background-color: #F44336;
            color:#ffffff;
        }

        @media screen and (orientation: portrait) {
            .woocommerce-product .item.item-image-gallery {
                height: 50vh;
            }

            .woocommerce-product .sb-cms-image ul[rn-carousel] li>div {
                height: 50vh;
            }
        }

        @media screen and (orientation: landscape) {
            .woocommerce-product .item.item-image-gallery {
                height: 30vh;
            }

            .woocommerce-product .sb-cms-image ul[rn-carousel] li>div {
                height: 30vh;
            }
        }

    </style>

</ion-view>