<div class="layout d9" ng-controller="D9Controller">

<div id="myNav" class="sidenav homepage-custom">
  <ion-content class="homepage-custom" scrollbar-y="false">
  <span href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="icon ion-close-round"></i></span>
  <ul class="items homepage-custom">
            <li ng-repeat="feature in features.options" class="border-custom" tabbar-items option="feature" id="feature-{{ $index }}" go-to-url="goTo(feature)">
                <img ng-src="{{ feature.icon_url }}"/>
                <p>{{ feature.name }}</p>
                <div ng-if="feature.code == 'push_notification' && push_badge" class="badge-custom">{{ push_badge }}</div>
            </li>
  </ul>
  </ion-content>
</div>

<div id="main">
<ul class="row homepage-custom">
<li class="col col-20"><span class="navbtn" onclick="openNav()"><i class="icon ion-navicon-round"></i></span></li>
<li class="col col-60"><p class="title">{{ features.layoutOptions.titletext }}</p></li>
</ul>

<div class="box">
<div class="wrapper">
  <ul class="grid">
    <li class="homepage-custom" ng-repeat="feature in features.options" tabbar-items option="feature" go-to-url="goTo(feature)">
    <img ng-src="{{ feature.icon_url }}" />
	<div ng-if="feature.code == 'push_notification' && push_badge" class="badge-custom">{{ push_badge }}</div>
    </li>
  </ul>
</div>
</div>

</div>
</div>

<style>
.layout.d9 .sidenav ul.items li:nth-child({{ features.layoutOptions.visibility }}) {
display: none;
}
</style>